#home{
  height: 50vh;
}

#home .header-background{
  background: url(http://i.imgur.com/UdmiZdS.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  padding: 0;
}

#home .container{
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body-container{
  background-color: #FFF;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 5%;
  padding-right: 5%;
  overflow: auto;
}

#body{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#body .title-box h1{
  font-size: 1.5em;
  margin-bottom: 15px;
  margin-top: 0;
}

#quote-container{
  display: flex;
  justify-content: center;
  background-color: rgba(0, 117, 190, 0.89);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 5%;
  padding-right: 5%;
  overflow: auto;
  text-align: center;
  color: white;
}

#quote-container .quote{
  max-width: 1280px;
}

#quote-container p{
  font-size: 1.3em;
  font-style: italic;
}

#body .left-box{
  width: 65%;
  float: left;
}

#body .right-box{
  max-width: 35%;
  float: right;
}

#body .user-text{
  font-size: .9em;
  text-align: justify;
  margin-right: 50px;
}

#body .user-text p{
  margin-top: 0;
  margin-bottom: 15px;
}

div, section, footer, user-text, user-image{
  display: block;
}

body{
  z-index: 1;
  background: #111;
  font-family: 'Roboto', monospace;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 256px;
  margin-left: auto;
  margin-right: auto;
}

header{
  font-size: .9em;
}

ul{
  z-index: 100;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #151A1B;
  -webkit-box-shadow: 0px 0px 2px 0px black;
          box-shadow: 0px 0px 2px 0px black;
}

li{
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  float:left;
  width: 100%
}

li a{
  z-index: 100;
  color: white;
  font-size: .9em;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li a:hover{
  background-color: #0075be;
}

footer{
  background: #151A1B;
  text-align: center;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: .9em;
  color: white;
  bottom: 0;
}

footer a{
  text-decoration: none;
}

.active{
  background-color: #00b5dc;
}

.user{
  color: #00b5dc;
}

.centertext h1{
  margin: 0;
  font-size: 3em;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.22);
}

.centertext h2{
  margin: 0;
  font-size: 2em;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.22);
}

.centertext{
  color: white;
  text-align: center;
  z-index: 50;
}


p{
  font-size: .9em
}

@media screen and (max-width: 750px){
  #body-container{
    padding-left: 25px;
    padding-right: 25px;
  }

  #body .left-box{
    width: 100%;
  }

  #body .right-box{
    max-width: 100%;
  }

  #body .user-text{
    margin-right: 0;
  }

  #body .user-text p{
    margin-bottom: 20px;
  }

  .centertext h1{
    font-size: 2em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.22);
  }

  .centertext h2{
    font-size: 1.2em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.22);
  }

  li a{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 600px){

}

@media only screen and (max-device-width: 425px){
  html {
      -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  }

  #quote-container{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #quote-container .quote p{
    font-size: .9em;
  }

  #body-container, #body{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
  }

  #body-container{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #body .left-box{
    width: 100%;
  }

  #body .right-box{
    max-width: 100%;
  }

  #body .user-text{
    margin-right: 0;
  }

  #body .user-text p{
    margin-bottom: 20px;
  }

  #body .user-image img{
    border-radius: 0;
  }

  li a{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  li a:hover{
    background-color: #151A1B;
  }

  ul{
    bottom: 0;
    position: sticky;
  }

  footer{
    margin-bottom: 45px;
    background: #0075be;
  }

  .user{
    color: white;
  }
}
