#home{
  height: 60vh;
}

#home .header-background{
  background: url(http://i.imgur.com/UdmiZdS.jpg) no-repeat center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  padding: 0;
}

#home .container{
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body-container{
  background-color: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  overflow: auto;
}

#body{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#body .title-box h1{
  font-size: 1.5em;
  margin-bottom: 15px;
}

#body .project-title{
  background-color: #0075be;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 100%;
}

#body .project-title h1{
  margin: 0;
}

#body .project-box{
  background-color: #F2F2F2;
  outline: 1.5px solid #0075be;
  outline-offset: -1.5px;
  height: 559px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#body .project-info{
  width: 330px;
  height: auto;
  padding: 15px;
}

#body .project-info h1{
  font-size: 1.5em;
  margin-top: 0;
}

#body .project-info h2{
  font-size: .9em;
  margin-bottom: 0;
}

.contact-text h2{
  font-size: .9em;
  margin: 0;
}

.contact-text p{
  margin: 0;
  padding: 0;
}

#body .project-info p{
  font-size: .9em;
  margin-top: 0;
  margin-bottom: 0;
}

#body .project-info a{
  text-decoration: none;
  color: black;
}

#body .project-image{
  width: 100%;
  height: 100%;
}

#body .project-image iframe{
  height: 100%;
  width: 100%;
}

#body .left-box{
  width: 60%;
  float: left;
}

#body .right-box{
  max-width: 40%;
  float: right;
}

#body .user-text{
  font-size: .9em;
  text-align: justify;
  margin-right: 15px;
}

#body .user-image img{
  border-radius: 15px;
}

#body .user-text p{
  margin-top: 0;
  margin-bottom: 15px;
}

div, section, footer, user-text, user-image{
  display: block;
}

body{
  z-index: 1;
  background: #111;
  font-family: 'Roboto', monospace;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 256px;
  margin-left: auto;
  margin-right: auto;
}

header{
  font-size: .9em;
}

ul{
  z-index: 100;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #151A1B;
  -webkit-box-shadow: 0px 0px 2px 0px black;
          box-shadow: 0px 0px 2px 0px black;
}

li{
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  float:left;
  width: 100%
}

li a{
  z-index: 100;
  color: white;
  font-size: .9em;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li a:hover{
  background-color: #0075be;
}

footer{
  background: #151A1B;
  text-align: center;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: .9em;
  color: white;
  bottom: 0;
}

footer a{
  text-decoration: none;
}

.centertext h1{
  text-shadow: 0px 0px 5px #000;
  margin: 0;
  font-size: 3em;
}

.centertext h2{
  text-shadow: 0px 0px 5px #000;
  margin: 0;
  font-size: 2em;
}

.centertext{
  color: white;
  text-align: center;
  z-index: 50;
}

.active{
  background-color: #00b5dc;
}

.user{
  color: #00b5dc;
}

p{
  font-size: .9em
}

@media screen and (max-width: 750px){
  #body .project-box{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    outline: none;
    height: auto;
  }

  #body .project-info{
    width: 100%;
    height: 100%;
    outline: 1.5px solid #0075be;
    outline-offset: -1.5px;
  }

  #body .project-image{
    width: 100%;
    height: 400px;
    outline: 1.5px solid #0075be;
    outline-offset: -1.5px;
  }

  #body .project-image iframe{
    width: 100%;
    height: 400px;
  }

  #body .left-box{
    width: 100%;
  }

  #body .right-box{
    max-width: 100%;
  }

  #body .user-text{
    margin-right: 0;
  }

  #body .user-text p{
    margin-bottom: 20px;
  }

  #body .user-image img{
    border-radius: 0;
  }

  .centertext h1{
    font-size: 2em;
  }

  .centertext h2{
    font-size: .9em;
  }

  li a{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  footer{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-device-width: 425px){
  html {
      -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  }

  #body .project-box{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    outline: none;
    height: auto;
  }

  #body .project-info{
    width: 100%;
    height: auto;
    outline: 1.5px solid #0075be;
    outline-offset: -1.5px;
  }

  #body .project-image{
    width: 100%;
    height: 256px;
    outline: 1.5px solid #0075be;
    outline-offset: -1.5px;
  }

  #body .project-image iframe{
    width: 100%;
    height: 256px;
  }

  #body .left-box{
    width: 100%;
  }

  #body .right-box{
    max-width: 100%;
  }

  #body .user-text{
    margin-right: 0;
  }

  #body .user-text p{
    margin-bottom: 20px;
  }

  #body .user-image img{
    border-radius: 0;
  }

  .centertext h1{
    font-size: 2em;
  }

  .centertext h2{
    font-size: .9em;
  }

  li a{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  footer{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
